@font-face {
  font-family: "Open Sauce One Regular";
  src: url("../../font/osor.ttf");
}
@font-face {
  font-family: "Open Sauce One Light";
  src: url("../../font/osol.ttf");
}
@font-face {
  font-family: "Open Sauce One Italic";
  src: url("../../font/osoi.ttf");
}
@font-face {
  font-family: "Open Sauce One Bold";
  src: url("../../font/osob.ttf");
}
html {
  background-color: #fdfdfd;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: "Open Sauce One Regular", serif;
}

.button {
  display: block;
  margin-top: 30px;
  border-radius: 30px;
  padding: 15px;
  text-decoration: none;
  text-align: center;
  background-color: #333333;
  color: white;
  width: 200px;
  font-size: 14px;
}

.button-demo {
  display: block;
  margin: 10px auto;
  border-radius: 30px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  color: #333333;
  font-size: 14px;
  justify-self: flex-end;
}

@font-face {
  font-family: "Open Sauce One Regular";
  src: url("../../font/osor.ttf");
}
@font-face {
  font-family: "Open Sauce One Light";
  src: url("../../font/osol.ttf");
}
@font-face {
  font-family: "Open Sauce One Italic";
  src: url("../../font/osoi.ttf");
}
@font-face {
  font-family: "Open Sauce One Bold";
  src: url("../../font/osob.ttf");
}
header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  margin-top: -100px;
}
header .navigation {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 40px;
  width: 35vw;
  min-width: 1000px;
  padding: 5px;
  margin: 25px auto;
  border-radius: 50px;
  border: 1.5px solid rgba(239, 239, 239, 0.937254902);
  background-color: white;
  box-shadow: 0px 33.36px 93.5859px rgba(62, 71, 91, 0.11), 0px 8.896px 140.379px rgba(97, 109, 135, 0.1);
}
header .navigation .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 5px;
  margin-left: 20px;
  background: linear-gradient(to right, #6bc5f8 20%, #cf59e6 40%, #cf59e6 60%, #6bc5f8 80%);
  background-size: 200% auto;
  animation: move 2s linear infinite;
}
header .navigation .circle .main-logo {
  font-weight: bold;
  color: white;
}
header .navigation .hamburger {
  display: none;
  justify-self: right;
  margin-right: 15px;
  background-color: transparent;
  color: #333333;
  border: 0;
  font-size: 20px;
  cursor: pointer;
}
header .navigation .nav-menu {
  display: flex;
  justify-self: right;
  margin: 0px;
  list-style-type: none;
}
header .navigation .nav-menu li {
  display: inline-block;
  margin-right: 40px;
}
header .navigation .nav-menu li a {
  color: #727272;
  text-decoration: none;
  font-size: 14px;
}

@font-face {
  font-family: "Open Sauce One Regular";
  src: url("../../font/osor.ttf");
}
@font-face {
  font-family: "Open Sauce One Light";
  src: url("../../font/osol.ttf");
}
@font-face {
  font-family: "Open Sauce One Italic";
  src: url("../../font/osoi.ttf");
}
@font-face {
  font-family: "Open Sauce One Bold";
  src: url("../../font/osob.ttf");
}
.tags {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.tags .wordpress {
  text-align: center;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  color: white;
  background: mediumseagreen;
}
.tags .html {
  text-align: center;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  color: white;
  background: #b33c4e;
}
.tags .css {
  text-align: center;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  color: white;
  background: #3c8fb3;
}
.tags .scss {
  text-align: center;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  color: white;
  background: #b3783c;
}
.tags .php {
  text-align: center;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  color: white;
  background: #723cb3;
}
.tags .laravel {
  text-align: center;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  color: white;
  background: #b3b13c;
}
.tags .javascript {
  text-align: center;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  color: white;
  background: #b36e3c;
}

main .container {
  width: 40vw;
  min-width: 1000px;
  margin: 100px auto;
  padding-top: 100px;
}
main .container .header-hero {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .container .header-hero .title-hero {
  float: left;
  font-family: "Open Sauce One Regular", sans-serif;
}
main .container .header-hero .title-hero .title-hero-special {
  background: linear-gradient(to right, #6bc5f8 20%, #cf59e6 40%, #cf59e6 60%, #6bc5f8 80%);
  background-size: 200% auto;
  color: #000;
  background-clip: unset;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: move 2s linear infinite;
}
main .container .header-hero .title-hero .title-hand {
  position: absolute;
  display: block;
  font-size: 72px;
  margin-top: 25px;
  margin-left: -120px;
}
main .container .header-hero .title-hero h1 {
  font-size: 48px;
  margin: 0 0 10px 0;
}
main .container .header-hero .title-hero h2 {
  font-size: 32px;
  margin: 0;
}
main .container .header-hero .picture-hero-mobile {
  display: none;
}
main .container .header-hero .picture-hero {
  float: right;
  width: 250px;
  margin: 0 -10px;
  padding: 15px;
  border-radius: 100%;
}
main .container .projects {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  margin-top: 100px;
}
main .container .projects h2 {
  text-align: center;
}
main .container .projects .projects-wrapper {
  display: flex;
  flex-direction: column;
}
main .container .projects .projects-wrapper .projects-work {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
main .container .projects .projects-wrapper .projects-work .project-thumbnail {
  flex: 1;
  width: 100%;
  height: 35rem;
  margin: 20px;
  border-radius: 20px;
  padding: 20px;
  background-color: white;
  -webkit-box-shadow: 0px 10px 50px -19px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 10px 50px -19px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 50px -19px rgba(0, 0, 0, 0.1);
  transition: 0.4s ease-in-out;
}
main .container .projects .projects-wrapper .projects-work .project-thumbnail:hover {
  scale: 105%;
  -webkit-box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.1);
  transition: 0.4s ease-in-out;
}
main .container .projects .projects-wrapper .projects-work .project-thumbnail .thumbnail-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
main .container .projects .projects-wrapper .projects-work .project-thumbnail .thumbnail-content .project-title {
  text-align: center;
  font-family: "Open Sauce One Bold";
}
main .container .projects .projects-wrapper .projects-work .project-thumbnail .thumbnail-content .description {
  font-size: 14px;
  text-align: center;
}
main .container .projects .projects-wrapper .projects-work .project-thumbnail > img {
  border-radius: 25px;
  width: 100%;
  height: 237px;
  object-fit: cover;
}

@font-face {
  font-family: "Open Sauce One Regular";
  src: url("../../font/osor.ttf");
}
@font-face {
  font-family: "Open Sauce One Light";
  src: url("../../font/osol.ttf");
}
@font-face {
  font-family: "Open Sauce One Italic";
  src: url("../../font/osoi.ttf");
}
@font-face {
  font-family: "Open Sauce One Bold";
  src: url("../../font/osob.ttf");
}
footer {
  margin-top: 300px;
}
footer .footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
footer .footer h3 {
  text-align: center;
}
footer .footer .socials {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: auto;
}
footer .footer .socials ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  list-style-type: none;
}
footer .footer .socials ul li {
  margin: 5px;
}
footer .footer .socials ul li .socials-icon > img {
  width: 40px;
}
footer .footer .socials ul li:hover {
  scale: 105%;
}

@keyframes move {
  to {
    background-position: 200% center;
  }
}
@media screen and (max-width: 600px) {
  .button {
    margin: 50px auto 0px auto;
  }
  body {
    width: 100%;
  }
  header .navigation {
    width: 90%;
    min-width: 0;
    position: relative;
  }
  header .navigation .hamburger {
    display: flex;
    position: relative;
  }
  header .navigation .nav-menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    width: 70%;
    justify-self: right;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
  }
  header .navigation .nav-menu li {
    padding: 10px;
    margin: 10px;
  }
  header .navigation .nav-menu.show {
    display: flex;
  }
  header .navigation .nav-menu.hide {
    display: none;
  }
  main .container {
    width: 90%;
    min-width: 0px;
    padding-top: 0px;
  }
  main .container .header-hero {
    flex-direction: column;
  }
  main .container .header-hero .title-hero {
    float: none;
    text-align: center;
  }
  main .container .header-hero .picture-hero-mobile {
    display: flex;
    width: 200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 100%;
  }
  main .container .header-hero .picture-hero {
    display: none;
  }
  main .projects .projects-work {
    flex-direction: column !important;
    width: 80%;
  }
  main .projects .projects-work .thumbnail-image {
    border-radius: 0px;
    width: 100px;
    object-fit: cover;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  header .navigation {
    width: 90%;
    min-width: 100px;
  }
  .button {
    margin: 20px auto;
  }
  main .container {
    width: 90%;
    min-width: 0px;
    padding-top: 0px;
  }
  main .container .header-hero {
    flex-direction: column;
  }
  main .container .header-hero .title-hero {
    float: none;
    text-align: center;
  }
  main .container .header-hero .picture-hero-mobile {
    display: flex;
    width: 200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 100%;
  }
  main .container .header-hero .picture-hero {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
