$robinseggblue: rgb(0, 198, 190);
$ebony: rgb(17,24,39);

.button {
  width: 5rem;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  padding: 7px;
  border: 2px solid $robinseggblue;
  border-radius: 100px;
  color: $robinseggblue;
  text-decoration: none;

  &:hover {
    color: $ebony;
    background-color: $robinseggblue;
  }
}