@import "font";
@import "mixins";
@import "colors";

footer {
  margin-top: 300px;

  .footer {
    display: flex;
    justify-content: center;
    flex-direction: column;

    h3 {
      text-align: center;
    }

    .socials {
      display: flex;
      flex-direction: row;
      flex: 1;
      margin: auto;

      ul {
        display: flex;
        flex-direction: row;
        padding: 0;
        list-style-type: none;

        li {
          margin: 5px;

          .socials-icon > img {
            width: 40px;

          }
          &:hover {
            scale: 105%;
          }
        }
      }
    }
  }
}