.one {
  width: 100%;
  height: 100%;
  background-size: cover;
  background: url('../../assets/images/project-ftsf.jpg');
}

.two {
  width: 100%;
  height: 100%;
  background-size: contain;
  background: url('../../assets/images/project-ftsf.jpg');
}

.three {
  width: 100%;
  height: 100%;
  background-size: contain;
  background: url('../../assets/images/project-ftsf.jpg');
}

.four {
  width: 100%;
  height: 100%;
  background-size: contain;
  background: url('../../assets/images/project-ftsf.jpg');
}

.five {
  width: 100%;
  height: 100%;
  background-size: contain;
  background: url('../../assets/images/project-ftsf.jpg');
}

.six {
  width: 100%;
  height: 100%;
  background-size: contain;
  background: url('../../assets/images/project-ftsf.jpg');
}