@import "font";
@import "mobile";

$font-stack: Helvetica, sans-serif;

$light: #EBECF4;
$medium: #A3A9CE;
$dark: #434655;

body {
  font: 100% $font-stack;
  background-color: $light;

}

header {
  .nav {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    padding-inline-start: 0px;
    list-style-type: none;
  }
  .nav a {
    margin: 10px;
    font-size: 1em;
    border-radius: 5px;
    text-align: center;
    color: $dark;
    display: block;
    padding: 15px;
    text-decoration: none;
  }

  .nav a:hover {
    background-color: $dark;
    color: $light;
  }
}

