@import "font";
@import "buttons";

$font-stack: Helvetica, sans-serif;

$white: rgb(255, 255, 255);
$milkpunch: rgb(255, 247, 214);
$robinseggblue: rgb(0, 198, 189);
$ebony: rgb(17, 24, 39);
$mirage: rgb(30, 41, 59);
$border: rgb(55, 65, 81);

@mixin columns {
  margin: 0 auto;
  width: 100%;
  h3 {
    text-align: center;
  }
}

@mixin col-content {
  .col-content {
    background-color: $mirage;
    border: 1px solid $border;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 100% / 3;
    padding: 15px;
  }
}

* {
  margin: 0;
  padding: 0;

}

body {
  font: 100% $font-stack;
  background-color: $ebony;
  color: white;

  .head {
    display: block;
    padding-top: 75px;
    //head content
    .me {
      display: block;
      border-radius: 100%;
      width: 10vw;
      min-width: 200px;
      margin: 0px auto 10px auto;
      border: 8px solid $ebony;
      outline: 2px solid $robinseggblue;
    }

    .socials {
      display: inline;
      text-align: center;

      ul {
        li {
          display: inline-block;
          margin: 5px;

          a {
            img {
              width: 2em;
            }
          }
        }
      }
    }

    h3 {
      text-align: center;
    }

    h4 {
      text-align: center;
      font-weight: normal;
    }
  }

  //page content
  .content {
    margin: 0 auto;
    width: 50vw;
    min-width: 370px;

    //about column
    .col-about {
      margin-top: 40px;

      h1 {
        font-size: 3em;
      }
    }

    //projects column
    .col-projects {
      display: flex;
      align-content: space-between;
      margin-top: 30px;

      .col-1 {
        @include columns;
        @include col-content;
        padding: 15px;

        .project-image {
          width: 100%;
          height: 250px;
          border-top-right-radius: 25px;
          border-top-left-radius: 25px;
          background-image: url("../../assets/images/project-ftsf.jpg");

        }
        height: 200px;
      }

      .col-2 {
        @include columns;
        @include col-content;
        padding: 15px;

        .project-image {
          width: 100%;
          height: 250px;
          border-top-right-radius: 25px;
          border-top-left-radius: 25px;
          background-image: url("../../assets/images/project-webshop.jpg");

        }

        height: 200px;
      }

      .col-3 {
        @include columns;
        @include col-content;
        padding: 15px;

        .project-image {
          width: 100%;
          height: 250px;
          border-top-right-radius: 25px;
          border-top-left-radius: 25px;
          background-image: url("../../assets/images/project-codepamoja.jpg");

        }

        height: 200px;
      }
    }
  }
}

//media query for mobile and other small screens
@import "mobile";





